
/***** TAG STYLES *****/
body {
    background-color: #26363f;
    color: #e1e1c5;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}


/***** CLASS STYLES *****/
.nav-bar {
    font-size: 1.5rem;
    padding: 20px;
}

.nav-logo {
    display: inline;
    padding: 0 20px;
}

.nav-menu {
    display: inline;
    float: right;

}

.nav-menu-list {
    display: inline;
}

.nav-menu-item {
    display: inline;
    padding: 0 20px;
}

.nav-menu-item-link {
    color: #e1e1c5;
    text-decoration: none;
}



.top-section {

}

.intro-text-box {
    background-color: #608EA9;
    display: inline;
    font-size: 2rem;
    text-align: left;
}

.intro-text {
    display: inline;
    font-family: 'Bitter', serif;
    margin: 0;

}

.call-to-action-box {
    display: inline;
    float: right;
    text-align: right;
}

.text {
    display: inline;
    text-align: right;
}